@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$color-white: #fff;
$color-gray: #c4c4c4;
$color-black: #000;

html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 128%;
  color: $color-black;
  box-sizing: border-box;
}

/* ==================== NEWS SECTION ====================== */
.news {
  max-width: 1400px;
  margin: 0 auto;

  &__grid-wrapper {
    display: grid;
    max-width: 1400px;
    margin: 0 25px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 37px 40px;
    justify-content: center;
    margin-bottom: 77px;

    @media (max-width: 992px) {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 576px) {
      margin: 0 0 20px 0;
    }
  }

  &__header {
    font-size: 3.4286rem;
    font-weight: 400;
    margin: 44px 25px 68px;
    display: grid;
    max-width: 1400px;
    gap: 37px 40px;

    @media (max-width: 576px) {
    grid-template-columns: 1fr;
    margin: 10px 0 15px 0;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 161, 92, .15);

  @media (max-width: 768px) {
    flex-direction: row;
  }

  @media (max-width: 576px) {
    flex-direction: column;
  }

  &__image {
    display: block;
    min-width: 100%;
    object-fit: cover;
    height: 269px;
    background: url(./img/no-photo.png) no-repeat 50% 80%;
    background-size: 30%;

    @media (max-width: 992px) {
      background-size: 20%;
    }

    @media (max-width: 768px) {
      min-width: 50%;
      height: 100%;
    }

    @media (max-width: 576px) {
      width: 100%;
      height: 269px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 24px 35px 35px;

    @media (max-width: 576px) {
      margin: 12px 18px;
    }
  }

  &__title {
    font-size: 1.7143rem;
    line-height: 116%;
    margin: 0 0 2px 0; //2px?!
  }

  &__date {
    font-size: 1.4286rem;
    line-height: 116%;
    margin-bottom: 24px;
  }

  &__body {
    margin: 0 0 42px 0;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__author {
    justify-self: flex-start;
  }
}

.button-like {
  appearance: none;
  background-image: url(./img/like-btn.svg);
  background-repeat: no-repeat;
  background-color: $color-white;
  width: 32px;
  height: 28px;
  right: 35px;
  bottom: 47px;
  padding: 0;
  align-self: center;
  justify-self: end;
  border: none;
  outline: none;
  transition: opacity .3s ease-in-out;
  cursor: pointer;

  @media (max-width: 430px) {
    bottom: 15px;
    right: 15px;
  }

  &:hover {
    opacity: .6;
  }

  &_active-js {
    background-image: url(./img/like-btn_active.svg);
  }

  &_active-js:hover {
    opacity: 1;
  }
}

/* ==================== COMMON ====================== */
.text-color_gray {
  color: $color-gray;
}

img[alt] {
  text-align: center;
  font-size: 1.5rem;

  @media (max-width: 430px) {
    font-size: 1rem;
  }
}

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap