@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* ==================== VARIABLES ====================== */
html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 128%;
  color: #000;
  box-sizing: border-box;
}

/* ==================== COMMON ====================== */
.text-color_gray {
  color: #c4c4c4;
}

img[alt] {
  text-align: center;
  font-size: 1.5rem;
}

/* ==================== NEWS SECTION ====================== */
.news {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 25px 77px;
}
.news__grid-wrapper {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 37px 40px;
}
@media (max-width: 992px) {
  .news__grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .news__grid-wrapper {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  .news__grid-wrapper {
    margin: 0 0 20px;
  }
}
.news__header {
  font-size: 3.4286rem;
  font-weight: 400;
  margin: 44px 0 68px;
}
@media (max-width: 576px) {
  .news__header {
    grid-template-columns: 1fr;
    margin: 10px 0 15px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 161, 92, 0.15);
}
@media (max-width: 768px) {
  .card {
    flex-direction: row;
  }
}
@media (max-width: 576px) {
  .card {
    flex-direction: column;
  }
}
.card__image {
  display: block;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 269px;
  background: url("./img/no-photo.png") no-repeat 50% 80%;
  background-size: 30%;
}
@media (max-width: 992px) {
  .card__image {
    background-size: 20%;
  }
}
@media (max-width: 768px) {
  .card__image {
    min-width: 50%;
    height: 100%;
  }
}
@media (max-width: 576px) {
  .card__image {
    width: 100%;
    height: 269px;
  }
}
.card__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 24px 35px 35px;
}
@media (max-width: 576px) {
  .card__content {
    margin: 12px 18px;
  }
}
.card__title {
  font-size: 1.7143rem;
  font-weight: 500;
  line-height: 116%;
  margin: 0 0 2px;
}
.card__date {
  font-size: 1.4286rem;
  line-height: 116%;
  margin: 0 0 24px;
}
.card__body {
  font-size: 1.2857rem;
  line-height: 128%;
  margin: 0 0 42px;
}
.card__label {
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: space-between;
}
.card__author {
  justify-self: flex-start;
}

.button-like {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("./img/like-btn.svg");
  background-repeat: no-repeat;
  background-color: #fff;
  width: 32px;
  height: 28px;
  padding: 0;
  align-self: center;
  justify-self: end;
  border: none;
  outline: none;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
.button-like:hover {
  opacity: 0.6;
}
.button-like_active-js {
  opacity: 1;
  background-image: url("./img/like-btn_active.svg");
}