@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$color-black: #000;
$color-gray: #c4c4c4;
$color-white: #fff;

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: calc(9px + 9 * (100vw / 1400));
  line-height: 128%;
  color: $color-black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

/* ==================== NEWS SECTION ====================== */
.news {
  max-width: 1400px;
  margin: 0 auto;

  &__grid-wrapper {
    display: -ms-grid;
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, 423px);
    gap: 37px 40px;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    @media (max-width: 430px) {
      grid-template-columns: minmax(min-content, 1fr);
      padding: 0;
    }
  }

  &__header {
    font-size: calc(24px + 24 * (100vw / 1400));
    font-weight: 400;
    margin: 44px 25px 68px;

    @media (max-width: 430px) {
      grid-template-columns: minmax(min-content, 1fr);
      margin: 20px;
    }
  }

  &__item {
    position: relative;
    min-height: 591px;
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: 0px 4px 15px rgba(0, 161, 92, .15);
    box-shadow: 0px 4px 15px rgba(0, 161, 92, .15);

    @media (max-width: 430px) {
      min-height: 400px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 269px;

    @media (max-width: 430px) {
      height: 190px;
    }
  }

  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    margin: 24px 35px 35px;

    @media (max-width: 430px) {
      margin: 10px 5px;
    }
  }

  &__title {
    font-size: calc(12px + 12 * (100vw / 1400));
    margin: 0 0 2px 0;
  }

  &__date {
    font-size: calc(10px + 10 * (100vw / 1400));
    margin-bottom: 24px;
  }

  .text-color_gray {
    color: $color-gray;
  }

  &__preview {
    margin: 0 0 42px 0;

    @media (max-width: 430px) {
      margin: 5px 2px;
    }
  }
}

.button-like {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  background-image: url(./img/like-btn.svg);
  background-repeat: no-repeat;
  background-color: $color-white;
  width: 32px;
  height: 28px;
  right: 35px;
  bottom: 47px;
  padding: 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
  border: none;
  outline: none;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  cursor: pointer;

  @media (max-width: 430px) {
    bottom: 15px;
    right: 15px;
  }

  &:hover {
    opacity: .6;
  }

  &_active-js {
    background-image: url(./img/like-btn_active.svg);
  }

  &_active-js:hover {
    opacity: 1;
  }
}

/* 
Использовал
* Autoprefixer: v10.4.7
* Browsers: last 3 version
*/