@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: calc(9px + 0.6428571429vw);
  line-height: 128%;
  color: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

/* ==================== NEWS SECTION ====================== */
.news {
  max-width: 1400px;
  margin: 0 auto;
}
.news__grid-wrapper {
  display: -ms-grid;
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, 423px);
  gap: 37px 40px;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
@media (max-width: 430px) {
  .news__grid-wrapper {
    grid-template-columns: minmax(min-content, 1fr);
    padding: 0;
  }
}
.news__header {
  font-size: calc(24px + 1.7142857143vw);
  font-weight: 400;
  margin: 44px 25px 68px;
}
@media (max-width: 430px) {
  .news__header {
    grid-template-columns: minmax(min-content, 1fr);
    margin: 20px;
  }
}
.news__item {
  position: relative;
  min-height: 591px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 161, 92, 0.15);
  box-shadow: 0px 4px 15px rgba(0, 161, 92, 0.15);
}
@media (max-width: 430px) {
  .news__item {
    min-height: 400px;
  }
}
.news__image {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 269px;
}
@media (max-width: 430px) {
  .news__image {
    height: 190px;
  }
}
.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  margin: 24px 35px 35px;
}
@media (max-width: 430px) {
  .news__content {
    margin: 10px 5px;
  }
}
.news__title {
  font-size: calc(12px + 0.8571428571vw);
  margin: 0 0 2px 0;
}
.news__date {
  font-size: calc(10px + 0.7142857143vw);
  margin-bottom: 24px;
}
.news .text-color_gray {
  color: #c4c4c4;
}
.news__preview {
  margin: 0 0 42px 0;
}
@media (max-width: 430px) {
  .news__preview {
    margin: 5px 2px;
  }
}

.button-like {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  background-image: url(./img/like-btn.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  width: 32px;
  height: 28px;
  right: 35px;
  bottom: 47px;
  padding: 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
  border: none;
  outline: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
@media (max-width: 430px) {
  .button-like {
    bottom: 15px;
    right: 15px;
  }
}
.button-like:hover {
  opacity: 0.6;
}
.button-like_active-js {
  background-image: url(./img/like-btn_active.svg);
}
.button-like_active-js:hover {
  opacity: 1;
}

/* 
Использовал
* Autoprefixer: v10.4.7
* Browsers: last 3 version
*/

/*# sourceMappingURL=output.css.map */
