@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height:  128%;
  color: #000000;
}

main {
  max-width: 1400px;
}

.news__header {
  font-size: 48px;
  font-weight: 400;
  margin: 44px 0 68px 0;
}

.news__item {
  position: relative;
  min-height: 591px;
  border-radius: 20px;
  z-index: 10;
  box-shadow: 0px 4px 15px rgba(0, 161, 92, 0.15);
}

.news-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 423px);
  gap: 37px 40px;
  justify-content: center;
  padding: 0 25px;
}

.news__image {
  display: block;
  width: 100%;
}

.news__content {
  display: flex;
  flex-direction: column;
  margin: 24px 35px 35px;

}

.news__title {
  font-size: 24px;
  margin: 0 0 2px 0;
}

.news__date {
  font-size: 20px;
  margin-bottom: 24px;
}

.text-color_gray {
  color: #C4C4C4;
}

.news__preview {
  text-overflow: ellipsis;
  margin: 0 0 42px 0;
}


.button {
  position: absolute;
  background-image: url(./img/like-btn.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  width: 32px;
  height: 28px;
  right: 35px;
  bottom: 47px;
  padding: 0;
  justify-self: end;
  align-self: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.button:active {
  background-image: url(./img/like-btn_active.svg);
}

.button:hover {
  opacity: .7;
}